body {
    background-color: gray;
    padding: 50px;
    
}

.unit {
    background-color: red;
    border: 1px solid black;
    width: 100px;
    height: 100px; 
    

    flex: 1 1 auto;
    padding: 0px;
    margin: 0px;
}

#canvas {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.unit:hover {
    background-color: black;
}